<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{layout :: head}"></div>
  </head>
  <body class="d-flex flex-column mh-100">
    <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav><div th:replace="~{layout :: navbar_sessionN}"></div></nav>
      <!-- List of nannies for the families-->
      <!-- Page Content-->
      <section class="py-5">
        <div class="container px-5 my-5">
          <div class="text-center mb-5">
            <h1 class="fw-bolder">Families near you:</h1>
          </div>
          <div class="row gx-5">
            <div th:each="family :${families}" class="col-lg-6">
              <div class="position-relative mb-5">
                <img
                  class="img-fluid rounded-3 mb-3"
                  alt="..."
                  th:src="${family.photoUrl}"
                />
                <a
                  th:text="${family.name}"
                  class="h3 fw-bolder text-decoration-none link-dark stretched-link"
                  href="#!"
                ></a>
                <p th:text="'We have '+${family.numChildren}+ ' children'"></p>
                <p th:text="${family.description}"></p>
                <p th:text="'We can pay: ' + ${family.serviceFee}"></p>
              </div>
              <input type="hidden" th:value="${family.id}" name="id" />
              <a
                th:href="@{/n/{id}/fprofile(id=${family.id})}"
                class="btn btn-primary mb-4"
                >View More</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- Footer-->
      <footer class="fixed-bottom mt-1">
        <div th:replace="~{layout :: footer}"></div>
      </footer>
    </main>
  </body>
</html>
