
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head><div th:replace="~{layout :: head}"></div></head>
  <body class="d-flex flex-column mh-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <!-- Navbar for role 'N' -->
            <div sec:authorize="hasRole('ROLE_N')" th:replace="~{layout :: navbar_sessionN}"></div>
    
            <!-- Navbar for rolel 'F' -->
            <div sec:authorize="hasRole('ROLE_F')" th:replace="~{layout :: navbar_sessionF}"></div>
          <!-- user profile-->
          <!-- Page Content-->
          <section class="py-5">
            <div class="container px-5">
              <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                  <div class="row gx-0" th:object="${user}">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                      <div class="p-4 p-md-5">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                          Super Nanny
                        </div>
                        <div class="h2 fw-bolder" th:text="${user.name}">Name</div>
                        <!-- Content for user with role 'N' -->
                        <p class="fw-bold" sec:authorize="hasRole('ROLE_N')" th:text="${user.age} + ' years old'"></p>
                        <!-- Content for user with role 'F' -->
                        <p class="fw-bold" sec:authorize="hasRole('ROLE_F')" th:text="'We have ' + ${user.numChildren} + ' amazing children'"></p>
                        <p class="fw-bold" th:text="'Price per hour: '+${user.serviceFee}">
                          Price
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                      <div
                        class="bg-featured-blog"
                        th:style="|background-image: url(${user.photoUrl})|"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--More info-->
          <section class="py-5">
            <div class="container px-5 my-5">
                <div>
                    <!-- More info-->
                    <h2 class="fw-bolder mb-3">User information:</h2>
                    <div class=" d-flex justify-content-center">
                        <div class="accordion mb-5 " id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">About me</button></h3>
                                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" th:text="${user.description}"></div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Experience</button></h3>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <!-- Content for user with role 'N' -->
                                <div class="accordion-body" sec:authorize="hasRole('ROLE_N')" th:text="'More than ' + ${user.yearsOfExperience} + ' years of experience taking care of children of different ages.'"></div>
                                <!-- Content for user with role 'F' -->
                                <div class="accordion-body" sec:authorize="hasRole('ROLE_F')" th:text="'We need someone to help us taking care of our ' + ${user.numChildren} + ' children.'"></div>                                    
                                </div>
                              </div>
                            
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">I'm comfortable with</button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                          <li>Helping with the homework</li>
                                          <li>Animals</li>
                                          <li>Cooking</li>
                                          <li>Taking the kids to the park</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                          <div class="profile-card">
                              <h5 class="fw-bolder">About me:</h5>
                              <div class="row">
                                  <div class="col-6 text-left fw-bold">Drives</div>
                                  <div class="col-6 text-right">Yes</div>
                              </div>
                              <div class="row">
                                  <div class="col-6 text-left fw-bold">Has car</div>
                                  <div class="col-6 text-right">No</div>
                              </div>
                              <div class="row">
                                  <div class="col-6 text-left fw-bold">Smoke</div>
                                  <div class="col-6 text-right">No</div>
                              </div>
                              <div class="row">
                                  <div class="col-6 text-left fw-bold">Has Children</div>
                                  <div class="col-6 text-right">No</div>
                              </div>
                              <div class="row">
                                  <div class="col-6 text-left fw-bold">Location</div>
                                  <div class="col-6 text-right">Madrid</div>
                              </div>
                              <div class="row">
                                  <div class="col-6 text-left fw-bold">Certified</div>
                                  <div class="col-6 text-right">Yes</div>
                              </div>
                              <!-- Link to edit user profile when role "N" -->
                              <a th:text="#{edit.btn}" th:href="@{/n/edit}" sec:authorize="hasRole('N')"></a>
                              <!-- Link to edit user profile when role "F" -->
                              <a th:text="#{edit.btn}" th:href="@{/f/edit}" sec:authorize="hasRole('F')"></a>
                          </div>
                      </div>
                </div>
            </div>
            
          </section>
    
        <!-- Footer-->
        <footer><div th:replace="~{layout :: footer}"></div></footer>
        <!--JS-->
        <div th:replace="~{layout :: js}"></div>
      </body>
</html>


      