
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head><div th:replace="~{layout :: head}"></div></head>
  <body class="d-flex flex-column h-100">
      <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav><div th:replace="~{layout :: navbar_sessionF}"></div></nav>              
      <!-- Page Content-->
      <section class="py-5">
        <div class="container px-5">
          <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
              <div class="row gx-0" th:object="${nanny}">
                <div class="col-lg-6 col-xl-5 py-lg-5">
                  <div class="p-4 p-md-5">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                      Super Nanny
                    </div>
                    <div class="h2 fw-bolder" th:text="${nanny.name}">Name</div>
                    <p th:text="${nanny.age}+ ' years old'">Age</p>
                    <p th:text="'Price per hour: '+${nanny.service_Fee}">
                      Price
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-7">
                  <div
                    class="bg-featured-blog"
                    th:style="|background-image: url(${nanny.photo_Url})|"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--More info-->
      <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-xl-8">
                    <!-- More info-->
                    <h2 class="fw-bolder mb-3">Nanny information:</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">About me</button></h3>
                            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" th:text="${nanny.description}"></div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Experience</button></h3>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body" th:text=" 'More than '+${nanny.yearsOfExperience}+ ' years of experience taking care of children of different ages.'">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">I'm comfortable with</button></h3>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                      <li>Helping with the homework</li>
                                      <li>Animals</li>
                                      <li>Cooking</li>
                                      <li>Taking the kids to the park</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                      <div class="profile-card">
                          <h5>About me:</h5>
                          <div class="row">
                              <div class="col-6 text-left">Drives</div>
                              <div class="col-6 text-right">Yes</div>
                          </div>
                          <div class="row">
                              <div class="col-6 text-left">Has car</div>
                              <div class="col-6 text-right">No</div>
                          </div>
                          <div class="row">
                              <div class="col-6 text-left">Smoke</div>
                              <div class="col-6 text-right">No</div>
                          </div>
                          <div class="row">
                              <div class="col-6 text-left">Has Children</div>
                              <div class="col-6 text-right">No</div>
                          </div>
                          <div class="row">
                              <div class="col-6 text-left">Location</div>
                              <div class="col-6 text-right">Madrid</div>
                          </div>
                          <div class="row">
                              <div class="col-6 text-left">Certified</div>
                              <div class="col-6 text-right">Yes</div>
                          </div>
                          <input
                          type="hidden"
                          th:value="${nanny.id}"
                          name="id"
                          id="id_${nanny.id}"
                        />
                          <button class="edit-profile-btn">Contact me</button>

                      </div>
                  </div>

            </div>
        </div>
          
        <!-- Footer-->
        <footer><div th:replace="~{layout :: footer}"></div></footer>
      </body>
</html>